@import "tailwindcss" layer(base);
@import "tailwindcss" layer(utilities);

@layer base {
  :root {
    --surf-light: 224 242 254; /* RGB values */
    --surf-dark: 3 105 161;
    --surf-accent: 8 145 178;
  }
  body {
    background-color: rgb(var(--surf-light));
    color: theme(colors.gray.800);
  }
}